<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leo.studentManager.dao.AchievementMapper" >
  <resultMap id="BaseResultMap" type="com.leo.studentManager.entity.Achievement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_achievement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leo.studentManager.entity.Achievement" >
    insert into t_achievement (id, student_id, exam_id, 
      grade, create_time, modify_time, 
      subject_id)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{subjectId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leo.studentManager.entity.Achievement" >
    update t_achievement
    set student_id = #{studentId,jdbcType=INTEGER},
      exam_id = #{examId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      subject_id = #{subjectId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, student_id, exam_id, grade, create_time, modify_time, subject_id
    from t_achievement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, student_id, exam_id, grade, create_time, modify_time, subject_id
    from t_achievement
  </select>
</mapper>