<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leo.studentManager.dao.ExamMapper" >
  <resultMap id="BaseResultMap" type="com.leo.studentManager.entity.Exam" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="teachers" property="teachers" jdbcType="VARCHAR" />
    <result column="teachers_id" property="teachersId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.leo.studentManager.entity.Exam" >
    insert into t_exam (id, subject_id, teachers, 
      teachers_id, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{teachers,jdbcType=VARCHAR}, 
      #{teachersId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, subject_id, teachers, teachers_id, start_time, end_time
    from t_exam
  </select>
</mapper>