<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.studentManager.dao.TClassMapper">
  <resultMap id="BaseResultMap" type="com.leo.studentManager.entity.TClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leo.studentManager.entity.TClass">
    insert into t_class (id, code, describe, 
      owner_id, school_id, alias
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{alias,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leo.studentManager.entity.TClass">
    update t_class
    set code = #{code,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      alias = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, describe, owner_id, school_id, alias
    from t_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, describe, owner_id, school_id, alias
    from t_class
  </select>
  <resultMap id="BaseResultMap" type="com.leo.studentManager.entity.TClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leo.studentManager.entity.TClass">
    insert into t_class (id, code, describe, 
      owner_id, school_id, alias
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{alias,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leo.studentManager.entity.TClass">
    update t_class
    set code = #{code,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      alias = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, describe, owner_id, school_id, alias
    from t_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, describe, owner_id, school_id, alias
    from t_class
  </select>
</mapper>